body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3 ;
    color: #333; 
    margin: 20px; 
}

h1 {
    color: blue;
    text-align: center;
}

p {
    font-size: 16px; 
    line-height: 1.5; 
}

#btnClick {
    border-radius: 10px;
    border: solid red 1px;
    padding: 15px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
      cursor: pointer;
    }

#loginBtn {
    background-color: #4CAF50;
    color: white;
}

#downloadBtn {
    background-color: #008CBA;
    color: white;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
}

#toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
}